<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ride-Sharing Application</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      h1 {
        margin-bottom: 30px;
      }

      button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>I'm a ____</h1>
      <a href="/driver/login">
        <button>Driver</button>
      </a>
      <a href="/rider/login">
        <button>Rider</button>
      </a>
    </div>
  </body>
</html>
